<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>JOSEPH ORTEGA</h1>
    <p>Celula: 28.023.486</p>
    <p>Seccion: 1</p>  
    
  </body>
</html>
